@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  scroll-behavior: auto;
}

body::-webkit-scrollbar {
  display: none;
}
